body {
  
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;

  gap: 75px;
}

.card {
  background-color: #04182b;
  color: #ffffff;


  border-radius: 20px;
  width: 300px;
  text-align: center;
}

.card-header {
  background-color: #f87f22;
  padding: 10px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
}

.card-conta {
  padding: 15px;
}

.inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.inputs input {
  width: 50px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.resultado {
  font-size: 18px;
  font-weight: bold;
}

.operador {
  margin: 0 5px;
  font-size: 20px;
}